@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
}

.bg-primer {
    background-color: #7F2A3C;
}

.text-primer {
    color: #7F2A3C;
}

.btn-primer {
    color: #fff;
    background-color: #9b364c;
    border: none;
    transition: 0.4s ease;
}

.btn-primer:hover {
    color: #fff;
    background-color: #701e30;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    height: 400px;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.foto-kue {
    height: 400px;
}
